@{
    ViewData["Title"] = "Certification";
}

<div style="margin-bottom:8px"><span style="font-size:160%;font-weight:500">Certification: </span>A description of the What, Where, When and, most importantly, the Why of Application Certification.</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">Why</h2>
        <p>Certifications are needed to block attempts to  reuse a valid credential from one person for another that does not meet the necessary criteria.</p>
        <p> Applications need certification.</p>
        <ul>
            <li>
                The wiki on <a href=" https://wiki.idesg.org/wiki/index.php/Patient_Choice">Patient Choice</a>
                describes some of the actual patient experience with healthcare or similar apps. It should be quite clear that if applications developers are not held accountable, they will not take much effort to protect users.
            </li>
            <li>The wiki on the <a href="https://wiki.idesg.org/wiki/index.php/Mobile_Driver%27s_License#Use_Cases"> Mobile Driver's License for use cases in Healthcare</a> provides more evidence that if a driver's license claims to implement Real-ID, it also needs assurance that it is secure.</li>
        </ul>
        <p>Sources for Digital credential cards will also need certification.</p>
        <ul>
            <li>
                The primary purpose of a Credential Service Provider (CSP or CP) is the provisioning of credentials or certificates that can be trusted.
                For example an HL7 report of a COVID-19 test is not in the form of a Verifiable Credential and is not bound to a user’s digital identifier.
                A CSP can be used to provide assertions for any identifier, attribute or authentication method.
                These can be combined on the user's smartphone to create a token containing all necessary assertions for access.
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">What</h2>
        <ul>
            <li>First there needs to be a Trust Federation with a  Code of Conduct , such as <a href="https://www.carinalliance.com/our-work/trust-framework-and-code-of-conduct/">this one from the CARIN alliance.</a></li>
            <li>That code of conduct needs to be developed into a list of service criteria that can be used to evaluate the app.</li>
            <li>Then a number of testing organizations need to be certified that can compare the app with the service criteria and issue a certificate of compliance.</li>
            <li>The user experience design needs to describe a user journey that gives the user informed control of their own data. Testing of user reaction both before and after deployment is needed to assure that the user understands the impact of their choices.</li>
            <li>
                The next step is to allow phone apps to validate that they meet the criteria in a <a href="https://kantarainitiative.org/confluence/display/WT/Draft+Recommendations">Distributed Assurance Specification.</a>
            </li>
            <li>All of the above steps have been implemented in Healthcare IT already for the patient portals, so we have empirical evidence that it can be done and that it works.</li>
            <li> The <a href="https://firstnet.gov/network/TT/firstnet-for-developers">FirstNet app development program</a> has implemented a <a href="https://firstnet.gov/newsroom/blog/using-and-developing-apps-firstnet-next-phase-public-safety-communications">similar program for the first responder network</a> that can serve as a paradigm for this program.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">When</h2>
        <ul>
            <li>All apps need to be validated before they are deployed to public web stores so that users can see which apps are certified before they are downloaded into the user's phone.</li>
        </ul>
        <h2 style="text-align:center">Where</h2>
        <ul>
            <li>Visit the <a asp-area="" asp-controller="Home" asp-action="Instructions">Instructions for getting applications certified.</a></li>
            <li>Create an image of the code (for example an apk) and collect the supporting material inlcuding the source depot for submission to the test laboratory.</li>
            <li>Submit the package to the test lab, along with answers to a few questions and prepare for a local or remote review with the architects and developers.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">This Health Care Profile</a> is one of the Framework Profiles that will allow developers of code and user experience to determine if their systems are compliant with the framework.</li>
        </ul>
        <div style="width:100%;  font:500; text-align:left; height:auto; display:flex">
            See the results from the API that a relying party web service will receive in raw json format:
        </div>
        <div style="text-align:center">
            <buttonv style="text-align:right" class="btn btn-block"><a href="~/registryquery"> Access the API output </a></buttonv>
        </div>
    </div>

</div>

