@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">Kantara Registry of Trusted Identifiers</h2>
        <div> The current focus of this service is the provisioning of a <a href="https://kantarainitiative.org/download/kantara-mobile-assurance-statement/">Mobile Authentication Assurance Statement</a> initially for healthcare providers and for Mobile Driver's License issuers.</div>
        <hr style="color:grey">
        <ul>
            <li>Vist the <a asp-area="" asp-controller="Home" asp-action="HealthCare">Proposed Health Care Solution</a>, a demonstration of the IDEF <a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">Health Care Profile.</a></li>
            <li><a href="https://kantarainitiative.org/confluence/display/healthidassurance/File+Lists?preview=/72581926/133366518/presentation%20to%20onc%20on%20identity.docx"> The Kantara Trust Framework: Identity Assurance for US Healthcare</a> comments prepared for the ONC call for input. It also lists out the Healthcare Identity principles.</li>
            <li>Which makes clear that there is no <a href=" https://wiki.idesg.org/wiki/index.php/Patient_Choice">Patient Choice</a> if the patient app is not trustworthy!</li>
            <li>Vist the <a asp-area="" asp-controller="Home" asp-action="Resources">Other Resources Page</a> on Trusted Identities in Cyberspace.</li>
        </ul>
        <div style="width:100%; vertical-align:middle; font:500; text-align:center; height:auto; display:flex">
            To access the demo API and see the same json data that a relying party web service is provided:
        </div>
        <div style="text-align:center">
            <buttonv style="text-align:center" class="btn btn-block"><a href="~/registryquery"> Click here </a></buttonv>
        </div>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">High Level Goals</h2>
        To put the user in control with:
        <ul>
            <li>  Control of release or sharing of data. </li>
            <li>  Security, especially from breaches. </li>
            <li>  Notice and redress of discrepancies. </li>
            <li>  Good User Experience so they know what to expect. </li>
            <li>  High availability wherever and whenever it is needed.</li>
        </ul>
        For the relying party web site;
        <ul>
            <li>  User Retention and low user maintenance costs.  </li>
            <li>  Interoperability with other sites and methods </li>
            <li>  Proof of Compliance with all regulations. </li>

        </ul>
        For the app developer;
        <ul>
            <li>  Clear and measurable acceptance criteria.  </li>
            <li>  Multiple sources of certification. </li>
            <li>  Improved acceptance of the app. </li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Problems Addressed</h2>
        <ul>
            <li>Users want to know if applications can be trusted with some of their their most private information.</li>
            <li>Relying parties want to be able to prove that they have exercised due diligence before they release or change user private information</li>
            <li>Users want to be assured that they can recover access to sites that hold their most private information</li>
            <li>App developers and relying parties do not want to go through compliance checking with every combination.</li>
            <li> ** TBD **  App developers want to be able to choose their delivery platform between native and web apps.</li>
        </ul>
    </div>

</div>

