@{
    ViewData["Title"] = "Trust Registry Home";
}


<div class="row">
    <div class="col-md-4">
        <div style="  min-height: 75px; vertical-align: top;text-align: center; font-size: x-large; font-weight:700">Kantara Registry of Trusted Identifiers</div>
        <p style="margin-top:5px">
            The website is a demonstration of a registry of credentials for mobile phone applications and developers conforming to the evolving draft specification for a
            <a href="https://kantarainitiative.org/download/kantara-mobile-assurance-statement/">Mobile Authentication Assurance Statement</a>.
            These credentials can be used to allow relying parties in <a asp-area="" asp-controller="Home" asp-action="HealthCare">healthcare</a> (and other) communities to determine if the user's application can be trusted.
            Once this concept is widely adopted, trust can be bootstrapped from a collection of trusted applications into a framework of trust actors across the web.
        </p>
            <p>A secondary goal is that the use of a <a href="https://wiki.idesg.org/wiki/index.php/Mobile_Driver%27s_License_in_Healthcare">Mobile Driver's License in Healthcare</a> 
            as well as any <a href="https://wiki.idesg.org/wiki/index.php/State_Issued_ID_for_Healthcare">State Issued ID for Healthcare</a> (for example a Medicaid card) is accepted with high assurance for patient verification. </p>


    </div>

    <div class="col-md-4">
        <div style=" min-height: 75px; vertical-align: top; text-align: center; font-size: x-large; font-weight: 700">High Level Goals</div>
        To put the user in control with:
        <ul>
            <li>  Control of release or sharing of data. </li>
            <li>  Security, especially from breaches. </li>
            <li>  Notice and redress of discrepancies. </li>
            <li>  Good User Experience so they know what to expect. </li>
            <li>  High availability wherever and whenever it is needed.</li>
        </ul>
        For the relying party web site
        <ul>
            <li>  User Retention and low user maintenance costs.  </li>
            <li>  Interoperability with other sites and methods </li>
            <li>  Proof of Compliance with all regulations. </li>

        </ul>
        For the app developer
        <ul>
            <li>  Clear, measurable acceptance criteria.  </li>
            <li>  Multiple sources of certification. </li>
            <li>  Improved traction, retention and acceptance of your app. </li>

        </ul>
    </div>
    <div class="col-md-4">
        <div style=" min-height:75px;  vertical-align:top;    text-align: center;  font-size: x-large;  font-weight: 700">Problems Addressed</div>
        <ul>
            <li>Users want to know if applications can be trusted with some of their most private information.</li>
            <li>Relying parties want to be able to prove that they have exercised due diligence before they release or change user private information.</li>
            <li>Users want to be assured that they can recover access to sites that hold their most private information.</li>
            <li>App developers and relying parties need a simple means to assure that apps certified can be immediately accepted at any provider.</li>
            <li>App developers want to be able to choose their delivery platform between native and web apps.</li>
        </ul>
        <p>
            This soluition draws together <a href="https://kantarainitiative.org/reports-recommendations/" >discussion drafts published by Kantara</a>, collaborator’s web sites and <a href="https://wiki.idesg.org/wiki/index.php/Main_Page"> working papers from the IDESG wiki</a> on the National Strategy for Trusted Identities in Cyberspace.
            In it Verifiable Credentials in W3C format, certificates conforming to existing X.509 standards and other places are all combined in the phone to establish user identification as well as high assurance authentication.
            Follow the development of these ideas on the <a asp-area="" asp-controller="Home" asp-action="Certification">Certification page. </a>
        </p>
    </div>

</div>

