@{
    ViewData["Title"] = "Certification";
}


<div><span style="font-size:160%;font-weight:500;margin-bottom:22px">Instructions: </span> for getting an app certified. This page used <a href="https://developer.firstnet.com/firstnet">First net</a> as an exanple.</div>
>
<div class="row"> 
    <div class="col-md-4">
        <h2 style="text-align:center">Requirements</h2> 
        <ul>
            <li>The first principle is that if it is not documented, then it didn't happen. Be sure that you have the documentation to provide to the team that certifies the app.</li>
            <li>Create a good architectural design that includes a risk assessment. </li>
            <li>Deploy a code management plan so that every line of code can be traced back to a developers check-in.</li>
            <li>Secure the supply chain and only sign and deploy code that is validated a meeting security risk requirements.</li>
            <li>Ensure that the user is never asked to agree to (or to sign) any access that they cannot fully understand. Options MUST be in plain language that is clear and easy for a general audience (typically defined to be an 8th grade education) to understand. </li>
            <li>Protect the user's information assets in a manner consistent with the risk. The user's control of the use of the identifier would require the highest level of protection.</li>
        </ul>

    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Commitments</h2>
        <ul>
            <li>Management needs to understand and support the need for secure application development and deployment.</li>
            <li>
                The first step is for a software developer to make the commitment to be bound by the Code of Conduct.
            </li>
            <li>OpenID is working on a <a href="https://openid.net/specs/openid-connect-federation-1_0.html"> specification for federation</a></li>
            <li><a href="https://kantarainitiative.org/confluence/pages/viewpage.action?pageId=115803009">View or join the Kantara IDEF FIRE work group here.</a>to help build with the existing framework.</li>
            <li>The working definition can be viewed at <a href="https://tcwiki.azurewebsites.net/index.php?title=Federation_Trust_Registry">the Federation Trust Registry.</a></li>
            <li>For more detailed information see <a href="https://wiki.idesg.org/wiki/index.php/Main_Page">The Identity Management wiki</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Follow Through</h2>
        <ul>
            <li>After the code has been in the field for a while, it is important to get feedback on real world experiences</li>
            <li>It is always important to track issues that arise in the field, including attacks on similar code, to be sure that no vulnerabilities or attacks are in progress.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Framework_Profiles">The Identity Ecosystem Framework</a> will need fine-grained specifications for applying its principles to specific vertical industry and horizontal community requirements.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">This Health Care Profile</a> is one of the Framework Profiles that will allow developers of code and user experience to determine if their systems are compliant with the framework.</li>
        </ul>
    </div>

</div>

