@{
    ViewData["Title"] = "Certification";
}


<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">Instructions for getting an app certified.</h2>
        <ul>
            <li>A good architectural design that inlcudes a risk asseesment should be the first step. </li>
            <li>A strong code managment plan is needed so that every line of code can be traced back to a developers check-in.</li>
            <li>A supply chain that forces code build, signing and deployment must always be from a known good source of code.</li>
        </ul>

    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Commitment</h2>
        <ul>
            <li>
                The first step is for a software developer to make the commitment to be bound by the code of conduct.
            </li>
            <li>OpenID is working on a <a href="https://openid.net/specs/openid-connect-federation-1_0.html"> specification for federation</a></li> 
            <li><a href="https://kantarainitiative.org/confluence/pages/viewpage.action?pageId=115803009">View or join the Kantara IDEF FIRE work group here.</a>(creating a health profile for the existing framework.)</li>
            <li>The working definition can be viewed at <a href="https://tcwiki.azurewebsites.net/index.php?title=Federation_Trust_Registry">the Federation Trust Registry.</a></li>
            <li>For more detailed information see <a href="https://wiki.idesg.org/wiki/index.php/Main_Page">The Identity Management wiki</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Folow Through</h2>
        <ul>
            <li>After the code has been in the field for a while, it is important to get feedback on real world experiences</li>
            <li>It is always important to track issues that arise in the field, including attacks on similar code, to be sure that no vulnerabilies or attacks are in progress.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Framework_Profiles">The Identity Ecosystem Framework</a> will need fine-grained specifications for applying its principles to specific vertical industry and horizontal community requirements.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">This Health Care Profile</a> is one of the Framework Profiles that will allow developers of code and user experience to determine if their systems are compliant with the framework.</li>
        </ul>
    </div>

</div>

