@{
    ViewData["Title"] = "Hom";
}

<div style="margin-bottom:9px"><span style="font-size:160%;font-weight:500">Resources: </span>A description of other material that is available to the visitor.</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">Trusted Identifiers in Cyberspace</h2>
        <div> The basis for the Kantara FIRE workgroup healthcare framework was the <a href=https://wiki.idesg.org/wiki/index.php/NSTIC_Strategy> National Strategy for Trusted Identifiers in Cyberspace</a>, Enhancing Online Choice, Efficiency, Security, and Privacy </div>
        <hr style="color:grey">
        <ul>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Financial_Profile">This Financial Services Profile</a> is a placeholder for a similar proposal in support of the Financial Services</li>
            <li>Vist the <a asp-area="" asp-controller="Home" asp-action="HealthCare">Proposed Health Care Solution</a>, a demonstration of the IDEF <a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">Health Care Profile.</a></li>
            <li><a href="https://kantarainitiative.org/confluence/display/healthidassurance/File+Lists?preview=/72581926/133366518/presentation%20to%20onc%20on%20identity.docx"> The Kantara Trust Framework: Identity Assurance for US Healthcare</a> comments prepared for the ONC call for input. It also lists out the Healthcare Identity principles.</li>
            <li>Which makes clear that there is no <a href=" https://wiki.idesg.org/wiki/index.php/Patient_Choice">Patient Choice</a> if the patient app is not trustworthy!</li>
            <li>See the wiki on the <a href="https://wiki.idesg.org/wiki/index.php/Mobile_Driver%27s_License#Use_Cases"> Mobile Driver's License for use cases in Healthcare.</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Identifier Ecosystems</h2>
        <ul>
            <li>
                The next step is to allow phone apps to be able to validate them selves in a <a href="https://kantarainitiative.org/confluence/display/WT/Draft+Recommendations">Distributed Assurance Specification.</a>
            </li>
            <li>OpenID is working on a <a href="https://openid.net/specs/openid-connect-federation-1_0.html"> specification for federation</a> that works when all parties can agree on data formats and permissions.
            That level of agreement is not common.</li>
            <li><a href="http://www.tscp.org/trust-framework-services/ ">Trust Services of TSCP the Transglobal Secure Collaboration Program</a> is a similar registry that is mostly focused on NATO A&D industry.</li>
            <li><a href="https://kantarainitiative.org/confluence/pages/viewpage.action?pageId=115803009">View or join the Kantara IDEF FIRE work group here.</a>to help create a health profile using the existing framework.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Main_Page">The wiki for the IDEF inherited from the IDESG</a></li>
            <li>The working definition can be viewed at <a href="https://tcwiki.azurewebsites.net/index.php?title=Federation_Trust_Registry">the Federation Trust Registry.</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center">Open Source Framework</h2>
        <ul>
            <li>For starters the code for this website including all the instructions and the API is available at <a href="https://github.com/TomCJones/RegistryDemo">GitHub</a></li>
            <li><a href="https://wiki.idesg.org/wiki/index.php?title=Baseline_Functional_Requirements_v1.0">The Baseline functional requirements</a> is a place to learn about the IDEF final deliverable.</li>
            <li><a href="https://idefregistry.edufoundation.kantarainitiative.org/">The website describing the IDEF Registry.</a> Which allows a deep dive into the existing participants results. The HTTPS certificate has expired on this site.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Framework_Profiles">The Identity Ecosystem Framework</a> will need fine-grained specifications for applying its principles to specific vertical industry and horizontal community requirements.</li>
            <li>The IDEF is one of the registered <a href="https://kantarainitiative.org/trust-registry/trust-status-list/">Trust Marks of Kantara.</a> Their work has been continued in the Kantara Initiative.</li>
        </ul>
    </div>

</div>
